<div class="col-xs-12  d-flex justify-content-between p-3">
  <div class="container-holding  w-75 ">
    <h2 class="title">Container Screen</h2>
    <hr class="m-0 border-2">
    <div class="container-screen">

    </div>
  </div>
  <div class="options  w-25 d-flex flex-column">
    <h2 class="title">Tile Options</h2>
    <hr class="m-0 border-2">
    <div class="list tile-list p-2  h-100">
      <div class="tile-card mb-2" cdkDragBoundary="" cdkDrag>
        <mat-form-field>
          <mat-label>
            Text Input
          </mat-label>
          <input matInput type="text">
        </mat-form-field>
      </div>
      <div class="tile-card mb-2 p-0 " cdkDragBoundary="" cdkDrag>
        <img src="../assets/4320405.png" class="tile-card-img" alt="">
      </div>
      <div class="tile-card mb-2" cdkDragBoundary="" cdkDrag>
        <mat-form-field>
          <mat-label>Select Options</mat-label>
          <mat-select>
            <mat-option *ngFor="let option of optionsSelect" [value]="option.value">
              {{option.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="tile-card mb-2" cdkDragBoundary="" cdkDrag>
        <div class="tile-card-timer">
          {{liveTime}}
        </div>
      </div>
    </div>
  </div>
</div>